<a href="http://github.com/angular/angular.js/edit/master/docs/content/guide/dev_guide.services.ngdoc" class="improve-docs btn btn-primary"><i class="icon-edit"> </i> Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="-angular--page"><p>翻译者：<a href="https://github.com/asnowwolf">@asnowwolf</a></p>
<p>服务(service)是Angular从服务端开发领域引入过来的一个特性，“服务”已经在服务端使用了很长时间，是一项很成熟的技术。
在Angular应用中，服务是指可以通过<a href="guide/di">依赖注入(DI)技术</a>装配在一起的一组可替换对象。</p>
<h3 id="相关主题">相关主题</h3>
<ul>
<li><a href="guide/dev_guide.services.understanding_services">理解Angular服务</a></li>
<li><a href="guide/dev_guide.services.creating_services">创建Angular服务</a></li>
<li><a href="guide/dev_guide.services.managing_dependencies">管理服务依赖</a></li>
<li><a href="guide/dev_guide.services.injecting_controllers">把服务注入到控制器(controller)</a></li>
<li><a href="guide/dev_guide.services.testing_services">测试Angular服务</a></li>
</ul>
<h3 id="相关api">相关API</h3>
<ul>
<li><a href="api/ng">Angular服务API</a></li>
</ul>
</div></div>
