<a href="http://github.com/angular/angular.js/edit/master/docs/content/guide/dev_ie.ngdoc" class="improve-docs btn btn-primary"><i class="icon-edit"> </i> Improve this doc</a><h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="developer-guide-page developer-guide-internet-explorer--page"><p>翻译者：<a href="https://github.com/greengerong">@greengerong</a></p>
<h2 id="概述">概述</h2>
<p>这篇文档主要描述Internet Explorer (IE) 在处理自定义属性(attribute)和自定义标记(tag)时的一些“怪癖”。如果你希望让
你的应用程序工作在IE 8 或更老的IE版本上，那你就需要了解本文的内容。</p>
<p>Angular项目当前致力于支持和修复一些IE 8 及以上版本的bug(译者注：angular 1.3已经不再支持IE 8 <a href="http://blog.angularjs.org/2013/12/angularjs-13-new-release-approaches.html"><a href="http://blog.angularjs.org/2013/12/angularjs-13-new-release-approaches.html">http://blog.angularjs.org/2013/12/angularjs-13-new-release-approaches.html</a></a>)。项目的持续集成服务器会在IE 8下运行所有的测试,可以参见<a href="http://ci.angularjs.org"><a href="http://ci.angularjs.org">http://ci.angularjs.org</a></a></p>
<p>测试不会在IE7 及以下版本运行，并且我们不会保证Angular在这些版本上正常工作。AngularJS的部分功能子集仍然可以工作，
你可以针对你的项目应用自由选择。</p>
<p>那些针对IE7 或者更早版本的问题(issue)，核心开发组也不会再花时间去处理。<a href="https://github.com/angular/angular.js/issues/4974">GitHub</a></p>
<h2 id="简化版本">简化版本</h2>
<p>让你的Angular程序能在IE上很好的工作，首先需要确保:</p>
<ol>
<li><p>在IE7或者以下版本需要JSON.stringify兼容包。你可以引入<a href="https://github.com/douglascrockford/JSON-js">JSON2</a>或者
<a href="http://bestiejs.github.com/json3/">JSON3</a>来解决这个问题.</p>
<pre class="prettyprint linenums">
       &lt;!doctype html&gt;
       &lt;html xmlns:ng="http://angularjs.org"&gt;
         &lt;head&gt;
           &lt;!--[if lte IE 8]&gt;
             &lt;script src="/path/to/json2.js"&gt;&lt;/script&gt;
           &lt;![endif]--&gt;
         &lt;/head&gt;
         &lt;body&gt;
           ...
         &lt;/body&gt;
       &lt;/html&gt;
     </pre>
</li>
<li><p>添加<code>id=&quot;ng-app&quot;</code> 在根元素节点，使其能和<code>ng-app</code>属性结合使用.</p>
<pre class="prettyprint linenums">
       &lt;!doctype html&gt;
       &lt;html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="optionalModuleName"&gt;
         ...
       &lt;/html&gt;
     </pre>
</li>
<li><p>尽量不要使用自定义元素例如<code>&lt;ng:view&gt;</code>（用属性(attribute)方式代替）</p>
</li>
<li><p>如果你由于语义或者第三方Angular组件的需要而不得不使用自定义标记方式的话,那么你必须按照如下步骤来“讨好”IE(译者注:或者<a href="https://github.com/angular-ui/ui-utils/tree/master/modules/ie-shiv">ie-shv</a>):</p>
<pre class="prettyprint linenums">
       &lt;!doctype html&gt;
       &lt;html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="optionalModuleName"&gt;
         &lt;head&gt;
           &lt;!--[if lte IE 8]&gt;
             &lt;script&gt;
               document.createElement('ng-include');
               document.createElement('ng-pluralize');
               document.createElement('ng-view');
     
               // Optionally these for CSS
               document.createElement('ng:include');
               document.createElement('ng:pluralize');
               document.createElement('ng:view');
             &lt;/script&gt;
           &lt;![endif]--&gt;
         &lt;/head&gt;
         &lt;body&gt;
           ...
         &lt;/body&gt;
       &lt;/html&gt;
     </pre>
</li>
</ol>
<p>重点:</p>
<ul>
<li><p><code>xmlns:ng</code>- <em>命名空间</em> - 你需要为每一个将使用的自定义标记注册一个命名空间(译者注:IE作为严格xml模式解析).</p>
</li>
<li><p><code>document.createElement(yourTagName)</code> - <em>自定义节点创建</em> - 由于这只是老版本的IE问题，所以你需要按条件加载这些脚本(IE低版本特有的条件注释)。对于每一个没有注册的命名空间以及HTML标准定义之外的标记你需要利用它进行预先声明，以“讨好”IE -_-</p>
</li>
</ul>
<h2 id="详尽版本">详尽版本</h2>
<p>IE处理非标准HTML标记时的问题主要有两种类型，每种又有其各自的修复方式。</p>
<ul>
<li><p>以<code>my:</code>为前缀的tag 考虑到严格的XML命名空间，你必须有相应的命名空间申明,如<code>&lt;html xmlns:my=&quot;ignored&quot;&gt;</code>。</p>
</li>
<li><p>没有<code>:</code>的非标准HTML tag, 你需要使用<code>document.createElement(&#39;my-tag&#39;)</code>来预先声明该节点(译者注:ie-shv)。</p>
</li>
<li><p>If you are planning on styling the custom tag with CSS selectors, then it must be
pre-created using <code>document.createElement(&#39;my-tag&#39;)</code> regardless of XML namespace.</p>
</li>
<li><p>如果你打算让CSS选择器也支持该自定义标记，那么你只能通过<code>document.createElement(&#39;my-tag&#39;)</code>预申明，而不能使用XML命名空间。</p>
</li>
</ul>
<h3 id="详尽版本_不幸中的万幸">不幸中的万幸</h3>
<p>值得庆幸的是，这些问题只会出现在自定义节点上，属性(attribute)的方式还能正常工作。所以<code>&lt;div my-tag your:tag&gt;
&lt;/div&gt;</code>的形式在IE中不需要进行任何特殊的处理.</p>
<h3 id="详尽版本_如果我不这么做会怎样">如果我不这么做会怎样</h3>
<p>假如你有一个未知的标记 <code>mytag</code>(无论是<code>my:tag</code>还是<code>my-tag</code> ):</p>
<pre class="prettyprint linenums">
  &lt;html&gt;
    &lt;body&gt;
      &lt;mytag&gt;some text&lt;/mytag&gt;
    &lt;/body&gt;
  &lt;/html&gt;
</pre>
<p>正确的DOM解析为：</p>
<pre class="prettyprint linenums">
#document
  +- HTML
     +- BODY
        +- mytag
           +- #text: some text
</pre>
<p>预期的结果是在<code>BODY</code>节点下有一个名为<code>mytag</code>的子节点，在它下面还有一个内容为<code>some text</code>的文本节点。</p>
<p>但是IE中却不是这样工作的(假设你没执行上面的任何一种修复方法):</p>
<pre class="prettyprint linenums">
#document
  +- HTML
     +- BODY
        +- mytag
        +- #text: some text
        +- /mytag
</pre>
<p>在IE中解析结果是在<code>BODY</code>下有两个子节点：</p>
<ol>
<li>一个名为<code>mytag</code>自关闭标记。自关闭标记的一个典型例子是<br/>。对于这类标记，结尾的‘/’是可选的，但是<code>&lt;br&gt;</code> 不允许包含任何的子节点，浏览器会把<code>&lt;br&gt;some
text&lt;/br&gt;</code>解析为3个兄弟节点而不是一个具有<code>some text</code>子节点的<code>&lt;br&gt;</code>节点。</li>
</ol>
<ol>
<li>一个内容为<code>some text</code>的文本节点，正确的解析应该是<code>mytag</code>的子节点而不是兄弟节点。</li>
</ol>
<ol>
<li>一个不合法的名为<code>/mytag</code>的自关闭标记。因为在DOM的节点名中不允许使用<code>/</code>字符。如果正常解析，那么它就不该出现在DOM中，
因为它只用来描述DOM的结构。</li>
</ol>
<h3 id="详尽版本_为自定义标记指定css风格">为自定义标记指定CSS风格</h3>
<p>要让自定义节点能工作在CSS选择器上，自定义节点必须使用<code>document.createElement(&#39;my-tag&#39;)</code>来预先声明，而不能使用XML命名空间。</p>
<pre class="prettyprint linenums">
  &lt;html xmlns:ng="needed for ng: namespace"&gt;
    &lt;head&gt;
      &lt;!--[if lte IE 8]&gt;
        &lt;script&gt;
          // 让ng-include能被正常解析
          document.createElement('ng-include');

          // 满足CSS引用的需要
          document.createElement('ng:view');
        &lt;/script&gt;
      &lt;![endif]--&gt;
      &lt;style&gt;
        ng\:view {
          display: block;
          border: 1px solid red;
        }

        ng-include {
          display: block;
          border: 1px solid blue;
        }
      &lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
      &lt;ng:view&gt;&lt;/ng:view&gt;
      &lt;ng-include&gt;&lt;/ng-include&gt;
      ...
    &lt;/body&gt;
  &lt;/html&gt;
</pre>
<p>译者注：</p>
<ol>
<li><p>以上的IE兼容性只是针对IE 中关于DOM解析的issues。在Angular开发中大多数情况你还需要引入JavaScript的兼容包，如[es5-shim]（<a href="https://github.com/es-shims/es5-shim）来处理String.trim、Array等一些JavaScriptAPI。">https://github.com/es-shims/es5-shim）来处理String.trim、Array等一些JavaScriptAPI。</a></p>
</li>
<li><p>如果你希望在IE6中工作，建议使用angular.bootstrap方法来手动启动Angular app。</p>
</li>
<li><p>部分兼容问题参见<a href="http://www.cnblogs.com/whitewolf/archive/2013/03/24/2979344.html">Angularjs开发一些经验总结</a></p>
</li>
</ol>
</div></div>
